* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  flex-wrap: wrap;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 45px 0;
}

.box {
  width: 360px;
  height: 400px;
  border-radius: 10px;
  background: rgb(36,0,0);
  background: linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(48,0,255,1) 100%, rgba(255,0,0,0.5291493306306898) 01111%);
  display: flex;
  align-items: center;
  flex-direction: column;
  color: rgb(0, 217, 255);
  font-size: 20px;
  gap: 70px;
  padding: 10px 0;
}
